<p id="notice"><%= notice %></p>

<p>
  <h1>
  <%= @beer_club %>
  </h1>
</p>

<p>
  Founded <%= @beer_club.founded %>
</p>

<p><h2>Members</h2></p>
<ul>
  <% @beer_club.users.each do |user| %>
      <li>
        <%= link_to user.username, user %>
      </li>
  <% end %>
</ul>


<%= link_to 'Edit', edit_beer_club_path(@beer_club) %><br>
<% if current_user and current_user.admin %>
<%= link_to 'Destroy the club', @beer_club, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>