<p id="notice"><%= notice %></p>

<p>
  <h1><%= @user.username %></h1>
</p>
has made <%= pluralize(@user.ratings.count,'rating') %>

<% unless @user.beer_clubs.empty? %>
<p>
member of
  <% @user.beer_clubs.each do |club| %>
            <%= link_to club, beer_club_path(club)  %>
  <% end %>
</p>
<% else %>
<p>
no club memberships
</p>
<% end %>

<% unless @user.favorite_style.nil? %>
<p><h2>favorite <%= 'style'.pluralize(@user.favorite_style.size)%></h2></p>
<ul>
    <% @user.favorite_style.each do |style|%>
        <li>
          <%= style %>
        </li>
        <% end %>
    <% end %>
</ul>

<% unless @user.favorite_brewery.nil? %>
    <p><h2>favorite <%= 'brewery'.pluralize(@user.favorite_brewery.size)%></h2></p>
    <ul>
      <% @user.favorite_brewery.each do |brewery|%>
          <li>
            <%= brewery.name %>
          </li>
      <% end %>
<% end %>
</ul>

<% unless @user.ratings.empty? %>
<p><h2>ratings</h2></p>

<ul>
  <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %>
        <% if @user == current_user %>
            <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
  <% end %>
</ul>
<% end %>

<p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> |
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>