<p id="notice"><%= notice %></p>

<p>
<h1>
  <%= @style %>
</h1>
</p>
<p>
  <%= @style.description %>
</p>

<% if @style.beers.size > 0 %>
<p><h2>beers</h2></p>
<ul>
  <% @style.beers.each do |beer| %>
      <li>
        <%= link_to beer, beer %>
      </li>
  <% end %>
</ul>
<% end %>

<% if current_user %>
    <%= link_to 'Edit', edit_style_path(@style) %><br>
<% end %>
<%= link_to 'Back', styles_path %>